In [2]:
##Declaring and Assigning variables
age = 32
height = 6.1
name ="Arun"
is_student = True
print(is_student)
print("age :",age)
print("Height : ",height)
print("Name:",name)

True
age : 32
Height :  6.1
Name: Arun

In [9]:
##Namimg Conventions
## variable names should be descritive
## They must start with a letter or an '_' and contain letter, numbers and underscores
## variable names are case sensitive

##valid variable names
first_name="Arun"
last_name ="Badhai"


#2age=30
#first-name ="Arun"
#@name ="Arun"
name="arun"
Name = "Arun"
name == Name

## Understanding variable types
## Python is dynamically typed, type of a variable is determined at runtime
age = 25
height =6.1 #float
name = "Arun"
is_student = True #boolean
print(type(name))

<class 'str'>

In [10]:
## Type Checking and Conversion
type(height)

float

In [11]:
## Type conversion
age =25
print(type(age))

#Type Conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [12]:
age = '25'
int(age)

25

In [13]:
name = "Arun"
int(name)

ValueError: invalid literal for int() with base 10: 'Arun'

In [14]:
height= 5.11
type(height)

float

In [15]:
int(height)

5

In [16]:
float(int(height))

5.0

In [17]:
## Dynamic typing

var = 10
print (var,type(var))

10 <class 'int'>

In [18]:
##python allows the type of the variable to change as the program executes
var ="Hello"
print(var,type(var))

Hello <class 'str'>

In [19]:
var = 3.14
print(var,type(var))

3.14 <class 'float'>

In [2]:
## input 
age = int(input("what is the age ?"))
print(age)

35