In [1]:
print("Hello")

Hello

In [1]:
## Basic Syntex Rules In Python
## Case Sensitivity
'''
ArithmeticError


'''

'\nArithmeticError\n\n\n'

In [3]:
name ="Arun"
Name="badhai"

print(name)
print(Name)

Arun
badhai

In [2]:
age = 32
if age>30:
    print(age)
print(age)

32
32

In [3]:
total = 1+2+3+4+5+6+\
5+6
print(total)

32

In [4]:
## Multiple Statements on a single line
x=5;y=10;z=x+y
print(z)

15

In [5]:
##Understanding Semantics In python
#variable assignment
age =32 ## age is an integer
name ="arun"
type(age)

int

In [7]:
## Type Inference

type(name)
variable =10
print(type(variable))
variable ="Arun"
print(type(variable))

<class 'int'>
<class 'str'>

In [9]:
if True:
    print("Correct Indentation")
    if False:
        print("Thi wont print")
    print("End")

Correct Indentation
End